<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Spring Security OAuth Example</title>

</head>


<body>

<h1>Login Successful for <span th:text="${#authentication.name}"></span></h1>

Welcome to Rental Store!

<span th:text="${#authentication.name}"></span>

<p><a href="http://localhost:2221">Continue to the website</a></p>
</body>

</html>