
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap e-Commerce Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>

    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="muted">Store Title</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="index.html">Home</a></li>
                
                <li><a href="checkout.html">Checkout <span class="badge badge-important">3</span></a></li>
                 <li><a href="Login.html">Login</a></li>
                  <li><a href="new.html">Order Placement</a></li>
              

                <li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
				    Categories
				    <b class="caret"></b>
				  </a>
				  <ul class="dropdown-menu">
				    <li class="nav-header">Products</li>
				    <li><a href="list.html">Washing Machine</a></li>
				    <li><a href="list.html">Television</a></li>
				    <li><a href="list.html">Fridges</a></li>
				    <li><a href="list.html">Others</a></li>
				    <li class="divider"></li>
				  </ul>
				</li>

                <li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
				    Pages
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
				    <li><a href="aboutus.html">About Us</a></li>
				    <li><a href="contactus.html">Contact Us</a></li>
				  </ul>
				</li>

              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

        <div class="row-fluid">
            <div class="span12">
                <h1>Product Name 1 of <span th:text="${count}">number</span></h1>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8">
                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <div class="muted pull-left">Product Images</div>
                        <div class="pull-right"><span class="badge badge-error">10 Images</span></div>
                    </div>
                    <div class="block-content collapse in">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span10">
                                    <div class="main-image">
                                        <img src='http://placehold.it/550x400' />
                                    </div>
                                </div>
                                <div class="span2 side-images">
                                    <div class="row-fluid">
                                        <div class="span12 side-image">
                                            <a href='javascript:;'><img src='http://placehold.it/90x80&text=Image+A' data-src="http://placehold.it/550x400&text=Image+A" /></a>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12 side-image">
                                            <a href='javascript:;'><img src='http://placehold.it/90x80&text=Image+B' data-src="http://placehold.it/550x400&text=Image+B" /></a>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12 side-image">
                                            <a href='javascript:;'><img src='http://placehold.it/90x80&text=Image+C' data-src="http://placehold.it/550x400&text=Image+C" /></a>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12 side-image">
                                            <a href='javascript:;'><img src='http://placehold.it/90x80&text=Image+D' data-src="http://placehold.it/550x400&text=Image+D" /></a>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12 side-image">
                                            <a href='javascript:;'><img src='http://placehold.it/90x80&text=Image+E' data-src="http://placehold.it/550x400&text=Image+E" /></a>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12 side-image">
                                            <a href='javascript:;'><img src='http://placehold.it/90x80&text=Image+F' data-src="http://placehold.it/550x400&text=Image+F" /></a>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12 side-image">
                                            <a href='javascript:;'><img src='http://placehold.it/90x80&text=Image+G' data-src="http://placehold.it/550x400&text=Image+G" /></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <div class="muted pull-left">Product Name</div>
                        <div class="pull-right"><span class="badge badge-warning">Some short message</span></div>
                    </div>
                    <div class="block-content collapse in">
                        <div class="span12">
                            <h5>Short Description</h5>
                            <p class="muted">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

                            <p>
                                <dl class="dl-horizontal">
                                  <dt>List Price</dt>
                                  <dd><s>$150.00</s></dd>
                                  <dt>Sale Price</dt>
                                  <dd>$129.99</dd>
                                </dl>
                            </p>
                            
                            <form class="form-inline">
                              <div class="control-group">
                                    <label>Quantity</label>
                                    <input type="text" id="name" value="1" placeholder="Quantity" class="input-mini">
                                    <button type="submit" class="btn btn-danger">Add</button>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="block">
                    <div class="navbar navbar-inner block-header navbar-no-padding">
                        <ul class="nav">
                          <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                          <li><a href="#specs" data-toggle="tab">Specification</a></li>
                          <li><a href="#reviews" data-toggle="tab">Reviews <span class="badge badge-info">3</span></a></li>
                          <li><a href="#related" data-toggle="tab">Related Products</a></li>
                        </ul>
                    </div>
                    <div class="block-content collapse in">
                        <div class="span12">
                            <div class="tab-content">
                              <div class="tab-pane active" id="description">
                                  <p>Lorem ipsum dolor sit amet, eu vix delicata iudicabit, vix te dolore interesset signiferumque. Sea putent labore ocurreret an, ei aliquando moderatius nec, ut est perfecto voluptatum. Cu graeci gubergren cum. In pri efficiendi vituperatoribus. Pri tota expetenda ocurreret no, principes philosophia usu id, eu dicit prompta vis.
                                  </p>
                                  <p>
                                Duo purto laudem at, id quo odio tempor. Te graeci facilis voluptatum sed, sanctus molestiae suscipiantur et mei. Natum equidem salutandi has te, suas rebum solet ut mel. Sea utamur referrentur ne, dicta viris putent te mel, ne vim graece altera. Ne alii tale omittam pri, at aeterno definitiones est.
                                  </p>
                                  <p>
                                Nec adipisci suavitate cu. Cum malis qualisque persecuti et. Usu oportere posidonium at. Imperdiet tincidunt eos ea. His et modus electram consequat, sed ei quidam platonem.
                                  </p>
                                  <p>
                                Viris argumentum nec ea. Quo ut timeam detraxit maluisset, ex has ipsum mollis ocurreret. Mea at adhuc rebum elitr, nobis cetero percipit sea eu. Est aliquip assueverit contentiones an, nihil gubergren duo ut. Suscipit disputationi ea vim, diam consul oblique ea eam, nemore sententiae an sed. Tale audiam ad vel.
                                  </p>
                              </div>
                              <div class="tab-pane" id="specs">
                                  <table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Description</th>
                                                <th>Thinkpad T440 Laptop</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Processor</th>
                                                <td>
                                                    <ul style="padding: 0px 0 10px 10px;" id="bullet-4px">
                                                        <li>4th Gen Intel® Core™ i3-4010U (Up to 1.70 GHz, 3MB, L3, 1600 MHz FSB)</li>
                                                        <li>4th Gen Intel® Core™ i5-4200U (Up to 2.60 GHz, 3MB, L3, 1600 MHz FSB)</li>
                                                        <li>4th Gen Intel® Core™ i5-4300U (Up to 2.90 GHz, 3MB, L3, 1600 MHz FSB)</li>
                                                        <li>4th Gen Intel® Core™ i7-4600U (Up to 3.30 GHz, 4MB, L3, 1600 MHz FSB)</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Operating System</th>
                                                <td>
                                                    <ul style="padding: 0px 0 10px 10px;" id="bullet-4px">
                                                        <li>Windows 8.1 Pro 64</li>
                                                        <li>Windows 8.1 64</li>
                                                        <li>Windows 7 Professional 64</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Display</th>
                                                <td>
                                                    <ul style="padding: 0px 0 10px 10px;" id="bullet-4px">
                                                        <li>14.0" HD TN (1366 x 768)</li>
                                                        <li>14.0" HD Touch TN (1366 x 768)</li>
                                                        <li>14.0" HD+ TN (1600 x 900)</li>
                                                        <li>14.0" HD+ Touch TN (1600 x 900)</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Graphics</th>
                                                <td>
                                                    <div>Intel® HD Graphics 4400</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Weight</th>
                                                <td>
                                                    <div>4.0 lbs</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Memory</th>
                                                <td>
                                                    <div>4 / 8 / 12 GB</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Webcam</th>
                                                <td>
                                                    <div>720p HD, face-tracking technology, low-light sensitivity</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Audio</th>
                                                <td>
                                                    <div>Dolby® Home Theater® v4</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Dimensions (W X D X H)</th>
                                                <td>
                                                    <div>13.34" x 0.82" x 9.15"</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Keyboard</th>
                                                <td>
                                                    <div>ThinkPad® precision keyboard (with backlight)</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Fingerprint Reader</th>
                                                <td>
                                                    <div>Yes</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>I/O (Input/Output) Ports</th>
                                                <td>
                                                    <ul style="padding: 0px 0 10px 10px;" id="bullet-4px">
                                                        <li>Mini DisplayPort with Audio</li>
                                                        <li>VGA</li>
                                                        <li>2x USB 3.0 (1x Powered)</li>
                                                        <li>SD Card Reader</li>
                                                        <li>Native RJ45 (full size)</li>
                                                        <li>Smart Card Reader (optional) NOTE: Smart Card Reader not available on models equipped with Micro Hard Drive.</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Storage</th>
                                                <td>
                                                    <ul style="padding: 0px 0 10px 10px;" id="bullet-4px">
                                                        <li>HDD: 500GB (7200 rpm) with optional 16GB SSD Cache Drive</li>
                                                        <li>SSD: 128GB SSD SATA3, 256GB SSD eDrive (OPAL 2.0), 512G SSD SATA3</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>WiFi</th>
                                                <td>
                                                    <ul style="padding: 0px 0 10px 10px;" id="bullet-4px">
                                                        <li>Intel® Centrino® 7260 (Wilkins Peak 2 AC) 2x2 AC+ BT 4.0</li>
                                                        <li>ThinkPad Wireless 2x2 BGN+BT 4.0</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Ethernet</th>
                                                <td>
                                                    <div>RJ45</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Battery Life</th>
                                                <td>
                                                    <ul style="padding: 0px 0 10px 10px;" id="bullet-4px">
                                                        <li>6 cell (48whr) only = 8.6 hrs</li>
                                                        <li>3 cell + 3 cell = 8.6 hours</li>
                                                        <li>3 cell + 6 cell (48whr) = 12.9 hours</li>
                                                        <li>3 cell + 6 cell (72whr) = 17.2 hours</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Battery</th>
                                                <td>
                                                    <ul style="padding: 0px 0 10px 10px;" id="bullet-4px">
                                                        <li>Integrated 3-cell 23.5 Whr + (center + sign)</li>
                                                        <li>ThinkPad® 68 Battery (3-cell 23.5 Whr)</li>
                                                        <li>ThinkPad 6-cell 47 Whr Battery</li>
                                                        <li>ThinkPad 68+ Battery (6-cell 72 Whr)</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Bluetooth®</th>
                                                <td>
                                                    <div>Yes, 4.0 (Included with WiFi Module)</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Navigation</th>
                                                <td>
                                                    <div>TrackPoint® and 5-button glass TouchPad</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                              </div>
                              <div class="tab-pane" id="reviews">
                                  <ul class="media-list">
                                      <li class="media">
                                        <div class="pull-left">
                                            <a href="#">
                                                <img class="media-object" src="http://placehold.it/64x64" />
                                            </a>
                                            <div><small class="muted">Sep 10<br />10:11 AM</small></div>
                                        </div>
                                        <div class="media-body">
                                          <h4 class="media-heading">Jason C.</h4>
                                          <div class="well well-small">
                                              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                          </div>
                                        </div>
                                      </li>

                                      <li class="media">
                                        <div class="pull-left">
                                            <a href="#">
                                                <img class="media-object" src="http://placehold.it/64x64" />
                                            </a>
                                            <div><small class="muted">Sep 13<br />9:45 AM</small></div>
                                        </div>
                                        <div class="media-body">
                                          <h4 class="media-heading">Adam Johns.</h4>
                                          <div class="well well-small">
                                              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                          </div>
                                        </div>
                                      </li>

                                      <li class="media">
                                        <div class="pull-left">
                                            <a href="#">
                                                <img class="media-object" src="http://placehold.it/64x64" />
                                            </a>
                                            <div><small class="muted">Aug 11<br />6:46 PM</small></div>
                                        </div>
                                        <div class="media-body">
                                          <h4 class="media-heading">Amy Johnson.</h4>
                                          <div class="well well-small">
                                              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                          </div>
                                        </div>
                                      </li>

                                    </ul>
                              </div>
                              <div class="tab-pane" id="related">
                                  <div class="row-fluid">
                                    <ul class="thumbnails">
                                      <li class="span3">
                                        <div class="thumbnail">
                                          <img alt="230x200" src="http://placehold.it/230x200">
                                          <div class="caption">
                                            <h3>Product A</h3>
                                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                            <p><a href="checkout.html" class="btn btn-primary">Add To Cart</a> <a href="view.html" class="btn">View</a></p>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="span3">
                                        <div class="thumbnail">
                                          <img alt="230x200" src="http://placehold.it/230x200">
                                          <div class="caption">
                                            <h3>Product B</h3>
                                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                            <p><a href="checkout.html" class="btn btn-primary">Add To Cart</a> <a href="view.html" class="btn">View</a></p>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="span3">
                                        <div class="thumbnail">
                                          <img alt="230x200" src="http://placehold.it/230x200">
                                          <div class="caption">
                                            <h3>Product C</h3>
                                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                            <p><a href="checkout.html" class="btn btn-primary">Add To Cart</a> <a href="view.html" class="btn">View</a></p>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="span3">
                                        <div class="thumbnail">
                                          <img alt="230x200" src="http://placehold.it/230x200">
                                          <div class="caption">
                                            <h3>Product D</h3>
                                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                            <p><a href="checkout.html" class="btn btn-primary">Add To Cart</a> <a href="view.html" class="btn">View</a></p>
                                          </div>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span5">
                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <div class="muted pull-left">Questions?</div>
                        <div class="pull-right">Help!</div>
                    </div>
                    <div class="block-content collapse in">
                        <div class="span12">
                            <ul class="unstyled">
                              <li><i class="icon-chevron-right"></i> <a href=''>Order status</a></li>
                              <li><i class="icon-chevron-right"></i> <a href=''>Frequently Asked Questions</a></li>
                              <li><i class="icon-chevron-right"></i> <a href=''>Online Chat</a></li>
                              <li><i class="icon-chevron-right"></i> <a href=''>Contact a real, live dirty person for help</a></li>
                              <li><i class="icon-chevron-right"></i> <a href=''>Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <hr>

      <div class="footer">
        <p>&copy; Company 2014</p>
      </div>

    </div> <!-- /container -->

  </body>
</html>
